@charset "UTF-8";
/* CSS Document */
/* Adam Vinsant */
/* VFW 1207 */
/* Project 3 */

html {
	background-image:url(../img/honeydobkg.png);
	background-repeat:repeat-x;
	overflow:scroll;

	
}
header {
	margin: 5px;
	background-image:url(../img/gradient1.png);
	border:solid 2px #330099;
	border-radius: 10px;
}

h1 {
	display:block;
	margin-left:auto;
	margin-right:auto;
	outline:none;
	border-radius: 10px;
	margin: 5px;
	padding:5px;
	background-image:url(../img/honeydobkg.png);
        font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	color:#005;
	text-shadow:#0F9 2px 3px 4px;
	border:#330099 solid 2px;
	text-align: center;
}

a.index {
	color:#005;
	text-decoration:none;	
}

h3 {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	color:#0F9;
	font-size: 18px;
	margin:10px;
	text-shadow:#306 2px 3px 2px;
}

span {
	display:block;
	margin-left:auto;
	margin-right:auto;
	outline:none;
	border-radius: 15px;
	margin: 5px;
	padding:5px;
	background-image:url(../img/honeydobkg.png);
        font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	color:#005;
	border:#330099 solid 2px;
}

p {
	font-family:Arial, Helvetica, sans-serif;
	color:#005;
	font-size: 12px;
	margin:10px;
	
}

div {
	border:solid #330099 2px;
	margin: 5px;
	padding: 20px;	
	background-image:url(../img/gradient2.png);
	border-radius: 15px;
	
}

a.addchore {
	display:block;
	margin-left:auto;
	margin-right:auto;
	outline:none;
	border-radius: 15px;
	margin-top: 15px;
	padding: 5px;
	background-image:url(../img/buttonbkg.png);
        background-size: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
        text-shadow:#330099 2px 3px 4px;
	color:#eee;
	border:#0F9 solid 2px;
	text-align: center;
}
